/* base styles */

html {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  line-height: 1.5;
  color: black;
  text-align: center;
  background: #fcfcfc;
  background-image: url("img/crossword.png");
  height: 100%;
}

body {
  margin: 150px;
}

h1 {
  font-size: 70px;
}

p {
  margin: 0 0 12px 0;
}

hr {
  margin: 60px 100px;
}

blockquote {
  color: #15317E;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

a {
  cursor: pointer;
  color: black;
}

.button {
  margin: 20px;
  text-decoration: none;
}

a:hover, .hover {
  text-decoration: underline;
}

a:hover, .hover {
  text-decoration: underline;
}
