/* base styles */

html {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  line-height: 1.5;
  color: black;
  text-align: center;
  background: #113;
  background-image: url("img/crossword.png");
  height: 100%;
}

body {
  margin: 150px;
}

h1 {
  font-size: 70px;
}

p {
  margin: 0 0 12px 0;
}

hr {
  margin: 60px 100px;
}

a {
  color: black;
}

.button {
  margin: 20px;
}
